1. Convert an integer to a floating-point number

In [7]:
a=5
type(a)

int

In [6]:
float(a)

5.0

2.Convert a float to a integer

In [1]:
b = 5.5
type(b)

float

In [2]:
int(b)

5

3. Convert integer into string

In [3]:
c = "10"

In [4]:
int_c= int(c)

In [5]:
print(int_c)

10

4.Convert list to tuple

In [8]:
list_tuple = [1,2,3,"PWSkills","Datascience"]

In [9]:
tuple_convert = tuple(list_tuple)

In [10]:
print(tuple_convert)

(1, 2, 3, 'PWSkills', 'Datascience')

5. Convert tuple to list

In [12]:
tuple_list = (1,2,3, "PW skills", 58.5)
list_convert = list(tuple_list)
print(list_convert)

[1, 2, 3, 'PW skills', 58.5]

6.Convert a decimal to binary number

In [13]:
decimal_binary = 15
binary_number = bin(decimal_binary)
print(binary_number)

0b1111

7. Convert a non-zero to boolean

In [14]:
a = 15
boolean = bool(a)
print(boolean)

True

In [16]:
b = 0
boolean = bool(b)
print(boolean)

False